#header a{
  color: #333333;
}
#header .logo{
  max-height: 100%;
  height: 60px;
}
.login-box {
  padding: 60px 0;
}

.login-box form{
  margin-top: 30px;
  width: 80% !important;
}

.login-box .link{
  text-decoration: none;
  font-size: 12px;
}

.login-input{
  height: 30px !important;
  line-height: 30px !important;
}

.btn{
  height: 30px;
  line-height: 30px;
  padding-top: 0px;
  font-size: 14px;
}

.login-banner {
  height: 100%;
  display: flex;
  padding: 0 50px;
  justify-content: center;
  align-items: center;
}

/*.banner-info {*/
  /*width: 410px;*/
  /*height: 440px;*/
  /*display: flex;*/
  /*flex-direction: column;*/
  /*background: url(./login-box.png) no-repeat center;*/
  /*background-size: 100% 100%;*/
  /*border-radius: 10px;*/
  /*align-items: center;*/
  /*padding: 30px;*/
/*}*/

/*.banner-info2 {*/
  /*width: 410px;*/
  /*height: 500px;*/
  /*display: flex;*/
  /*flex-direction: column;*/
  /*background: url(./login-box2.png) no-repeat center;*/
  /*background-size: 100% 100%;*/
  /*border-radius: 10px;*/
  /*align-items: center;*/
  /*padding: 30px;*/
/*}*/

.banner-info{
  min-width: 240px;
}

/*.login-banner .banner-image {*/
  /*width: 718px;*/
  /*height: 439px;*/
  /*background: url(./banner-image.svg) no-repeat center;*/
  /*background-size: cover;*/
  /*margin-right: 50px;*/
  /*margin-top: 50px;*/
/*}*/

.banner-info h1 {
  font-weight: 600;
  font-size: 18px;
  color: black;
  width: 100%;
  padding-top: -8px;
  padding-bottom: 30px;
  text-align: center;
  margin-top: -6px;
}

.banner-info input[type=text], .banner-info input[type=password] {
  box-sizing: border-box;
  width: 100%;
  border-radius: 4px;
  border-width: 1px;
  line-height: 45px;
  height: 45px;
  border: 1px solid #A3B1BF;
  padding: 0 24px;
  font-size: 14px;
  color: #021241;
}

/*.btn-block {*/
  /*width: 100%;*/
  /*height: 45px;*/
  /*line-height: 45px;*/
  /*padding: 0 10px;*/
  /*vertical-align: middle;*/
  /*text-align: center;*/
  /*background-image: linear-gradient(-237deg, #3171ff 0%, #429eec 100%);*/
  /*color: #fff;*/
  /*border: 0;*/
  /*font-size: 18px;*/
  /*cursor: pointer;*/
  /*border-radius: 4px;*/
/*}*/

.boundary-ul {
  text-align: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.boundary-ul .boundary-left {
  display: inline-block;
  background-image: linear-gradient(269deg, #D3D8DE 0%, rgba(211, 216, 222, 0.00) 100%);
  width: 70px;
  height: 2px;
}

.boundary-ul .boundary-center {
  display: inline-block;
  font-family: PingFangSC;
  font-size: 14px;
  color: rgba(2, 18, 65, 0.75);
  letter-spacing: 0;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: -10px;
}

.boundary-ul .boundary-right {
  display: inline-block;
  background-image: linear-gradient(269deg, rgba(211, 216, 222, 0.00) 0%, #D3D8DE 100%);
  width: 70px;
  height: 2px;
}

.skip-btn {
  text-align: right;
  padding-top: 10px;
  padding-bottom: 30px;
}

.skip-btn .register {
  float: left;
}

.skip-btn .forgetpwd {
  float: right;
}

.skip-btn a {
  font-size: 14px;
  color: rgba(2, 18, 65, 0.75);
}

.skip-btn a:hover {
  color: #3171ff;
  text-decoration: none;
}

.login-content{
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 1px 1px 6px 2px rgba(0,0,0,0.3);
}
.login-content-space{
  position: relative;
  width: 100px;
}
.login-content-space:before{
  content: '';
  position: absolute;
  left: 50%;
  width: 1px;
  border-left: dashed 1px #999999;
  height: 100%;
}
