// 全局改变selecttree下拉无数据时的样式
.vue-treeselect__no-options-tip {
  margin-left: -158px;
}
.vue-treeselect__no-options-tip-text:after {
  margin-left: 18px;
  content: '暂无数据！';
  font-size: 12px;
  color: #999;
}
.vue-treeselect__no-results-tip{
  margin-left: -158px;
}
.vue-treeselect__no-results-tip-text:after{
  margin-left: 34px;
  content: '暂无数据！';
  font-size: 12px;
  color: #999;
}
.vue-treeselect__no-children-tip{
  margin-left: -146px;
}
.vue-treeselect__no-children-tip-text:after{
  margin-left: 74px;
  content: '暂无数据！';
  font-size: 12px;
  color: #999;
}
.left-side {
  position: relative;
  overflow-y: auto;
  background-color: gold;
  //max-width: 300px;
  height: 100%;
  margin-right: 5px;
  box-shadow: 1px 0 5px 0 rgba(0, 0, 0, .3);
  &-mask {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 1);
    & + * {
      z-index: 1;
    }
  }
  & > .viewport, & > .viewport .viewport-body {
    height: 100%;
    background-color: #ffffff;
  }
}

.main-content {
  position: relative;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, .3);
}

.el-menu-vertical-demo {
  border-right-width: 0;
  .el-menu-item {
    &.is-active {
      color: #ffffff;
      background-color: #4badea;
    }
  }
}

// 透视图样式
.pvtUi {
  min-width: 100%;
  & > tbody > tr > td:first-child {
    max-width: 200px;
    padding: 5px;
  }
  & select {
    border-color: #d9d9d9;
  }
  & .pvtHorizList li {
    display: inline-block;
  }
  & .pvtAggregator {
    max-width: 75%;
  }
  & .pvtUiCell {
    background-color: #f2f3f4;
    border: solid 1px #999999;
  }
  & .pvtRenderer {
    width: 100%;
  }
  & .pvtAttrDropdown {
    width: 100%;
  }
  & table.pvtTable tbody tr td {
    vertical-align: middle;
    text-align: center;
  }
  button + button{
    margin-left: 10px;
  }
}

// 销客样式
.xk-app{
  .left-side {
    & .viewport-header{
      background-color: #000000;
    }
    & > .viewport, & > .viewport .viewport-body {
      height: 100%;
      background-color: #3c3c3c;
    }
    .el-menu{
      background-color: #3c3c3c;
      color: #ffffff;
    }
    .el-submenu__title{
      color: #ffffff;
    }
    .el-menu-item{
      color: #ffffff;
    }
    .el-menu-item.is-active,.el-menu-item.is-active:hover{
      background-color: #e02222;
    }
    .menuitem:hover,.el-menu-item:hover,.el-submenu__title:hover{
      background-color: #222222;
    }
  }
  .el-button--primary,.btn-primary{
    background-color: #e02222;
    border-color: #e02222;
  }
  .el-button--primary.is-disabled, .el-button--primary.is-disabled:active, .el-button--primary.is-disabled:focus, .el-button--primary.is-disabled:hover{
    background-color: #B62020;
    border-color: #B62020;
  }
  .el-button.is-disabled, .el-button.is-disabled:focus, .el-button.is-disabled:hover{
    background-color: #B62020;
    border-color: #B62020;
  }
  .el-pagination.is-background .el-pager{
    li:not(.disabled).active{
      background-color: #e02222;
    }

  }
  .main-content{
    & > .viewport-fixed > .viewport-header{
      color: #ffffff;
      background-color: #000000;
      & .link{
        color: #ffffff;
      }
    }
  }
}

@media screen and (min-width: 1025px) {
  .left-side {
    position: relative;
    height: 100%;
    width: 280px;
    left: 0;
    z-index: 1;
    &-mask {
      position: absolute;
      & + * {
        z-index: 1;
      }
    }
  }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  .left-side {
    position: relative;
    height: 100%;
    width: 220px;
    left: 0;
    z-index: 1;
    &-mask {
      position: absolute;
      & + * {
        z-index: 1;
      }
    }
  }
}

@media screen and (min-width: 481px) and (max-width: 768px) {
  .left-side {
    position: relative;
    height: 100%;
    width: 180px;
    left: 0;
    z-index: 1;
    &-mask {
      position: absolute;
      & + * {
        z-index: 1;
      }
    }
  }
}

@media screen and (max-width: 480px) {
  html,body{
    font-size: 12px;
  }
  .left-side {
    position: absolute;
    left: 0;
    width: 61.8%;
    z-index: 11;
    overflow: visible;
    &-mask {
      background-color: rgba(0, 0, 0, .5);
      position: fixed;
    }
  }
  .pvtUi {
    & > tbody > tr > td:first-child {
      max-width: 144px;
    }
  }
  .menu-org {
    .el-submenu .el-submenu__title {
      height: 50px;
      line-height: 50px;
    }
  }
}