
$icon: lonch-icon;

i.#{$icon} {
  @each $animal in 
  folder, tickets
  {
    &-#{$animal} {
      display: inline-block;
      width: 22px;
      height: 22px;
      margin-right: 3px;
      background-image: url('./image/#{$animal}.svg');
      background-size: cover;
    }
  }
}

