.sf-portait-150,
.sf-portait-210 {
  font-family: "宋体", 'SimSun', Arial;
  padding: 8px;
  position: relative;
  font-size: 12px;
  background-color: #FFFFFF;
}
@media print {
  //@page {
  //  size: portrait;
  //  margin: 0;
  //}
  //@page :left {
  //  margin-left: 0;
  //}
  //@page :right {
  //  margin-right: 0;
  //}0
}
