.lonch-chat {
  &-call {
    &-video {
      width: 100%;
      height: 100%;
      // width: 320px;
      // height: 480px;
      position: relative;
      background: rgba(12,89,155, 0.5);
      z-index: 1;
      &-local {
        z-index: 3;
        position: absolute;
        right: 10px;
        top: 10px;
        width: 120px;
        height: 180px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0,0,0,0.25);
        background: #000000;
        overflow: hidden;
      }
      &-remote {
        width: 100%;
        height: 100%;
      }
      &-remote2voice {
        width: 1px !important;
        height: 1px !important;
      }
      &-mask {
        z-index: 999;
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background: rgba(10,20,40,0.75);
        -webkit-tap-highlight-color: transparent; /* For Safari */
        -webkit-touch-callout: none; /* For iOS Safari */
        outline: none; /* 去除点击时的背景色 */
        user-select: none; /* Prevent text selection on touch devices */
        touch-action: manipulation; /* Disable default actions like double-tap to zoom */
      }
    }
    &-opbtn {
      width: 100%;
      height: 40%;
      background: rgba(0,0,0,.01);
      position: absolute;
      z-index: 1;
      left: 0;
      bottom: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      &-cancel {
        cursor: pointer;
        width: 64px;
        height: 64px;
        border-radius: 32px;
        background: #f00;
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        margin: 20px;
      }
      &-accept {
        cursor: pointer;
        width: 64px;
        height: 64px;
        border-radius: 32px;
        background: rgb(0, 184, 83);
        display: flex;
        justify-content: center;
        align-items: center;
        color: #fff;
        margin: 20px;
      }
    }
  }
}