html,body {
  // width: 100%;
  // height: 100%;
  // overflow: hidden;
}
.lonch {
  &-chat {
    &-header {
      border-bottom: #dddddd 1px solid;
      background: #f9f9f9;
      height: 40px;
      line-height: 40px;
      text-align: center;
      display: flex;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      user-select: none;
      z-index: 1;
      position: relative;
      &-btn {
        z-index: 1;
        position: absolute;
        padding: 0 10px;
        cursor: pointer;
        left: 0;
        top: 0;
        .icon {
          margin-left: 10px;
          margin-right: 10px;
          width: 24px;
          i {
            font-size: 1.714285714285714rem;
          }
        }
        &-right {
          z-index: 1;
          position: absolute;
          padding: 0 10px;
          cursor: pointer;
          right: 0;
          top: 0;
        }
      }
    }
    &-entry {
      &-logo {
        z-index: 1;
        position: absolute;
        top: -12px;
        right: -2px;
        color: #ffffff;
        background: #ff0000;
        font-size: 14px;
        font-weight: bold;
        width: 24px;
        height: 24px;
        border-radius: 24px;
        line-height: 24px;
        text-align: center;
        user-select: none;
        box-shadow: 0 0 6px rgba(255,0,0,0.25);
        transform: scale(0.5);
      }
      &-icon {
        color: #ff0000;
        cursor: pointer;
        font-size: 1.5rem !important;
      }
    }
  }
}
