.btn {
  line-height: 1.5;
  position: relative;
  display: inline-block;
  font-weight: 400;
  white-space: nowrap;
  text-align: center;
  background-image: none;
  border: 1px solid transparent;
  box-shadow: 0 2px 0 rgba(0, 0, 0, .015);
  cursor: pointer;
  transition: all .3s cubic-bezier(.645, .045, .355, 1);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: manipulation;
  padding: 5px 8px;
  font-size: 1rem;
  border-radius: 4px;
  color: rgba(0, 0, 0, .65);
  background-color: #fff;
  border-color: #d9d9d9;
  &, &:active, &:focus {
    outline: 0
  }
  &:hover {
    text-decoration: none
  }
  &-radius {
    border-radius: 3px;
  }
  &-height {
    line-height: 1.125;
  }
  @extend .btn-radius;
  @extend .btn-height;
  &-block {
    display: block;
    width: 100%;
  }
  &-xs{
    padding-left: 0.25rem;
    padding-right: 0.25rem;
    font-size: .85rem;
    line-height: 1.125;
  }
  &-s{
    line-height: 1.125;
    font-size: .85rem;
    padding: 3px 5px;
  }
  &-sm {
    line-height: 1;
    font-size: .85rem;
    padding: 3px 5px;
  }
  &-m{
    padding-left: 1rem;
    padding-right: 1rem;
    line-height: 1.25;
    font-size: .875rem;
  }
  &-l{
    padding-left: 1.125rem;
    padding-right: 1.25rem;
    line-height: 1.5;
  }
  &-xl{
    padding-left: 1.25rem;
    padding-right: 1.25rem;
    line-height: 1.5;
    font-size: 1.125rem;
  }
  &-xxl{
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    line-height: 2;
    font-size: 1.25rem;
  }
  &-lg {
    padding-left: 1.6rem;
    padding-right: 1.6rem;
    line-height: 2;
    font-size: 1.25rem;
  }
  &[disabled]{
    background-color: #f5f5f5;
  }
  &-primary {
    background-color: $primary;
    color: #ffffff;
    border-color: darken($primary, 10%)
  }
  &-secondary {
    background-color: $secondary;
    color: darken($secondary, 30%);
    border-color: darken($secondary, 10%)
  }
  &-disabled {
    background-color: $gray;
    color: darken($gray, 20%);
    border-color: darken($gray, 10%)
  }
  &-group {
    padding-left:0;
    .btn {
      border-radius: 0;
      //border-left-width: 0;
      margin-left: -1px;
    }
    .btn:first-child {
      margin-left: 0;
      //border-left-width: 1px;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }
    .btn:last-child {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }
    .is-actived {
      z-index: 1;
    }
  }
}
a.btn{
  text-decoration-line: none;
}
/*
.ant-btn, .ant-btn:active, .ant-btn:focus {
  outline: 0
}

.ant-btn:not([disabled]):hover {
  text-decoration: none
}

.ant-btn:not([disabled]):active {
  outline: 0;
  box-shadow: none
}

.ant-btn.disabled, .ant-btn[disabled] {
  cursor: not-allowed
}

.ant-btn.disabled > *, .ant-btn[disabled] > * {
  pointer-events: none
}

.ant-btn-lg {
  height: 40px;
  padding: 0 15px;
  font-size: 16px;
  border-radius: 4px
}

.ant-btn-sm {
  height: 24px;
  padding: 0 7px;
  border-radius: 4px
}

.ant-btn > a:only-child {
  color: currentColor
}

.ant-btn > a:only-child:after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: transparent;
  content: ""
}

.ant-btn:focus, .ant-btn:hover {
  color: #40a9ff;
  background-color: #fff;
  border-color: #40a9ff
}

.ant-btn:focus > a:only-child, .ant-btn:hover > a:only-child {
  color: currentColor
}

.ant-btn:focus > a:only-child:after, .ant-btn:hover > a:only-child:after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: transparent;
  content: ""
}

.ant-btn.active, .ant-btn:active {
  color: #096dd9;
  background-color: #fff;
  border-color: #096dd9
}

.ant-btn.active > a:only-child, .ant-btn:active > a:only-child {
  color: currentColor
}

.ant-btn.active > a:only-child:after, .ant-btn:active > a:only-child:after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: transparent;
  content: ""
}

.ant-btn-disabled, .ant-btn-disabled.active, .ant-btn-disabled:active, .ant-btn-disabled:focus, .ant-btn-disabled:hover, .ant-btn.disabled, .ant-btn.disabled.active, .ant-btn.disabled:active, .ant-btn.disabled:focus, .ant-btn.disabled:hover, .ant-btn[disabled], .ant-btn[disabled].active, .ant-btn[disabled]:active, .ant-btn[disabled]:focus, .ant-btn[disabled]:hover {
  color: rgba(0, 0, 0, .25);
  background-color: #f5f5f5;
  border-color: #d9d9d9;
  text-shadow: none;
  box-shadow: none
}

.ant-btn-disabled.active > a:only-child, .ant-btn-disabled:active > a:only-child, .ant-btn-disabled:focus > a:only-child, .ant-btn-disabled:hover > a:only-child, .ant-btn-disabled > a:only-child, .ant-btn.disabled.active > a:only-child, .ant-btn.disabled:active > a:only-child, .ant-btn.disabled:focus > a:only-child, .ant-btn.disabled:hover > a:only-child, .ant-btn.disabled > a:only-child, .ant-btn[disabled].active > a:only-child, .ant-btn[disabled]:active > a:only-child, .ant-btn[disabled]:focus > a:only-child, .ant-btn[disabled]:hover > a:only-child, .ant-btn[disabled] > a:only-child {
  color: currentColor
}

.ant-btn-disabled.active > a:only-child:after, .ant-btn-disabled:active > a:only-child:after, .ant-btn-disabled:focus > a:only-child:after, .ant-btn-disabled:hover > a:only-child:after, .ant-btn-disabled > a:only-child:after, .ant-btn.disabled.active > a:only-child:after, .ant-btn.disabled:active > a:only-child:after, .ant-btn.disabled:focus > a:only-child:after, .ant-btn.disabled:hover > a:only-child:after, .ant-btn.disabled > a:only-child:after, .ant-btn[disabled].active > a:only-child:after, .ant-btn[disabled]:active > a:only-child:after, .ant-btn[disabled]:focus > a:only-child:after, .ant-btn[disabled]:hover > a:only-child:after, .ant-btn[disabled] > a:only-child:after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: transparent;
  content: ""
}

.ant-btn.active, .ant-btn:active, .ant-btn:focus, .ant-btn:hover {
  text-decoration: none;
  background: #fff
}

.ant-btn > i, .ant-btn > span {
  display: inline-block;
  transition: margin-left .3s cubic-bezier(.645, .045, .355, 1);
  pointer-events: none
}

.ant-btn-primary {
  color: #fff;
  background-color: #1890ff;
  border-color: #1890ff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, .12);
  box-shadow: 0 2px 0 rgba(0, 0, 0, .045)
}

.ant-btn-primary > a:only-child {
  color: currentColor
}

.ant-btn-primary > a:only-child:after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: transparent;
  content: ""
}

.ant-btn-primary:focus, .ant-btn-primary:hover {
  color: #fff;
  background-color: #40a9ff;
  border-color: #40a9ff
}

.ant-btn-primary:focus > a:only-child, .ant-btn-primary:hover > a:only-child {
  color: currentColor
}

.ant-btn-primary:focus > a:only-child:after, .ant-btn-primary:hover > a:only-child:after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: transparent;
  content: ""
}

.ant-btn-primary.active, .ant-btn-primary:active {
  color: #fff;
  background-color: #096dd9;
  border-color: #096dd9
}

.ant-btn-primary.active > a:only-child, .ant-btn-primary:active > a:only-child {
  color: currentColor
}

.ant-btn-primary.active > a:only-child:after, .ant-btn-primary:active > a:only-child:after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: transparent;
  content: ""
}

.ant-btn-primary-disabled, .ant-btn-primary-disabled.active, .ant-btn-primary-disabled:active, .ant-btn-primary-disabled:focus, .ant-btn-primary-disabled:hover, .ant-btn-primary.disabled, .ant-btn-primary.disabled.active, .ant-btn-primary.disabled:active, .ant-btn-primary.disabled:focus, .ant-btn-primary.disabled:hover, .ant-btn-primary[disabled], .ant-btn-primary[disabled].active, .ant-btn-primary[disabled]:active, .ant-btn-primary[disabled]:focus, .ant-btn-primary[disabled]:hover {
  color: rgba(0, 0, 0, .25);
  background-color: #f5f5f5;
  border-color: #d9d9d9;
  text-shadow: none;
  box-shadow: none
}

.ant-btn-primary-disabled.active > a:only-child, .ant-btn-primary-disabled:active > a:only-child, .ant-btn-primary-disabled:focus > a:only-child, .ant-btn-primary-disabled:hover > a:only-child, .ant-btn-primary-disabled > a:only-child, .ant-btn-primary.disabled.active > a:only-child, .ant-btn-primary.disabled:active > a:only-child, .ant-btn-primary.disabled:focus > a:only-child, .ant-btn-primary.disabled:hover > a:only-child, .ant-btn-primary.disabled > a:only-child, .ant-btn-primary[disabled].active > a:only-child, .ant-btn-primary[disabled]:active > a:only-child, .ant-btn-primary[disabled]:focus > a:only-child, .ant-btn-primary[disabled]:hover > a:only-child, .ant-btn-primary[disabled] > a:only-child {
  color: currentColor
}

.ant-btn-primary-disabled.active > a:only-child:after, .ant-btn-primary-disabled:active > a:only-child:after, .ant-btn-primary-disabled:focus > a:only-child:after, .ant-btn-primary-disabled:hover > a:only-child:after, .ant-btn-primary-disabled > a:only-child:after, .ant-btn-primary.disabled.active > a:only-child:after, .ant-btn-primary.disabled:active > a:only-child:after, .ant-btn-primary.disabled:focus > a:only-child:after, .ant-btn-primary.disabled:hover > a:only-child:after, .ant-btn-primary.disabled > a:only-child:after, .ant-btn-primary[disabled].active > a:only-child:after, .ant-btn-primary[disabled]:active > a:only-child:after, .ant-btn-primary[disabled]:focus > a:only-child:after, .ant-btn-primary[disabled]:hover > a:only-child:after, .ant-btn-primary[disabled] > a:only-child:after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: transparent;
  content: ""
}*/
