
.white{color: $white;}
.blue{color: $blue;}
.pink{color: $pink;}
.red{color: $red;}
.orange{color: $orange;}
.yellow{color: $yellow;}
.green{color: $green;}
.primary{color: $primary;}
.secondary{color: $secondary;}
.success{color: $success;}
.warning{color: $warning;}
.danger{color: $danger;}
.light{color: $light;}
.dark{color: $dark;}
.darkgray{color: $darkgray;}
.black{color: $black;}

.bg-white{background-color: $white;}
.bg-blue{background-color: $blue;}
.bg-shallowblue{background-color: #ede3f6;}
.bg-pink{background-color: $pink;}
.bg-red{background-color: $red;}
.bg-orange{background-color: $orange;}
.bg-yellow{background-color: $yellow;}
.bg-green{background-color: $green;}
.bg-primary{background-color: $primary;}
.bg-secondary{background-color: $secondary;}
.bg-success{background-color: $success;}
.bg-warning{background-color: $warning;}
.bg-danger{background-color: $danger;}
.bg-light{background-color: $light;}
.bg-dark{background-color: $dark;}
.bg-darkgray{background-color: $darkgray;}

.bd-white{border-color: $white;}
.bd-blue{border-color: $blue;}
.bd-pink{border-color: $pink;}
.bd-red{border-color: $red;}
.bd-orange{border-color: $orange;}
.bd-yellow{border-color: $yellow;}
.bd-green{border-color: $green;}
.bd-primary{border-color: $primary;}
.bd-secondary{border-color: $secondary;}
.bd-success{border-color: $success;}
.bd-warning{border-color: $warning;}
.bd-danger{border-color: $danger;}
.bd-light{border-color: $light;}
.bd-dark{border-color: $dark;}
