.dialog {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffff;
  z-index: 10000;
  &-header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 44px;
    padding: 0 44px;
    background-color: #ffffff;
    z-index: 10;
    &-back{
      position: absolute;
      left: 0;
      width: 32px;
      height: 100%;
    }
  }
  &-body {
    width: 100%;
    height: 100%;
    overflow: auto;
  }
  &-header ~ &-body {
    padding-top: 45px;
    @extend .clearfix;
  }
  &-content-padded {
    padding: 10px 15px;
  }
  &-scrolling > &-header{
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, .25);
  }
}
