.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  &-wrap {
    flex-wrap: wrap
  }
  &-wrap-reverse {
    flex-wrap: wrap-reverse
  }
  &-nowrap {
    flex-wrap: nowrap
  }
  &-row {
    flex-direction: row;
  }
  &-row-reverse {
    flex-direction: row-reverse
  }
  &-column {
    flex-direction: column;
    & > .flex-flex-auto{
      overflow: auto;
    }
  }
  &-column-reverse {
    flex-direction: column-reverse;
  }
  &-content {
    &-start {
      -webkit-box-pack: start;
      align-content: flex-start;
      justify-content: flex-start;
    }
    &-end {
      align-content: end;
      -webkit-box-pack: end;
      justify-content: flex-end
    }
    &-center {
      align-content: center;
      -webkit-box-pack: center;
      justify-content: center
    }
    &-around {
      align-content: space-around;
      justify-content: space-around
    }
    &-between {
      align-content: space-between;
      justify-content: space-between
    }
  }
  &-align-content {
    &-start {
      align-content: flex-start
    }
    &-end {
      align-content: flex-end
    }
    &-center {
      align-content: center
    }
    &-around {
      align-content: space-around
    }
    &-between {
      align-content: space-between
    }
    &-stretch {
      align-content: stretch
    }
  }
  &-items {
    &-start {
      -webkit-box-align: start;
      align-items: flex-start
    }
    &-end {
      -webkit-box-align: end;
      align-items: flex-end
    }
    &-center {
      -webkit-box-align: center;
      align-items: center
    }
    &-baseline {
      -webkit-box-align: baseline;
      align-items: baseline
    }
    &-stretch {
      -webkit-box-align: stretch;
      align-items: stretch
    }
  }
  &-flex {
    -webkit-box-flex: 0;
    flex: 0 1 auto;
    &-auto {
      -webkit-box-flex: 1;
      flex: 1 1 auto
    }
    &-none {
      -webkit-box-flex: 0;
      flex: 0 0 auto
    }
  }
}
