.input-text,.input-select,.input-textarea{
  border: 1px solid #D9D9D9;
  line-height: 1;
  padding: 5px;
  border-radius: 3px;
  background-color: white;
}
.input-text{
  padding: 5px;
}
input + input,
input + select{
  margin-left: 8px;
}
label{
  margin-right: 8px;
}
label:last-child{
  margin-right: 0px;
}
.input-select{
  min-width: 64px;
  height: 32px;
}
.input-group{
  .input-text.is-input-addon-right{
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
  }
  .input-addon-right{
    line-height: 1;
    padding: 5px;
    border-radius: 3px;
    background-color: #fafafa;
    border: 1px solid #D9D9D9;
    border-left-width: 0;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
  }
}
.input-text.error, .input-select.error{
  border-color: red;
}
