.icon {
  position: relative;
  display: inline-block;
  &:hover{
    color: #4badea;
  }
  &-back{
    @extend .icon;
    width: 24px;
    height: 24px;
    padding: 3px;
    &:before{
      content: '';
      display: block;
      box-sizing: border-box;
      border-style: solid;
      border-color: inherit;
      border-top-width: 2px;
      border-left-width: 2px;
      border-right-width: 0;
      border-bottom-width: 0;
      width: 70.7106781186548%;
      height: 70.7106781186548%;
      transform: rotate(-45deg);
      margin-top: 14.6446609406726%;
      margin-left: 39.6446609406726%;
    }
  }
  &-close{
    @extend .icon;
    width: 24px;
    height: 24px;
    padding: 3px;
    display: inline-block;
    &:before{
      content: '';
      position: relative;
      display: block;
      box-sizing: border-box;
      border-style: solid;
      border-color: inherit;
      border-top-width: 1px;
      border-left-width: 0;
      border-right-width: 0;
      border-bottom-width: 0;
      width: 141.4213562373095%;
      height: 1px;
      transform: rotate(-45deg);
      transform-origin: center;
      margin-top: 50%;
      margin-left: -20.71067811865475%;
    }
    &:after{
      content: '';
      display: block;
      position: relative;
      box-sizing: border-box;
      border-style: solid;
      border-color: inherit;
      border-top-width: 1px;
      border-left-width: 0;
      border-right-width: 0;
      border-bottom-width: 0;
      width: 141.4213562373095%;
      height: 1px;
      transform: rotate(45deg);
      transform-origin: center;
      margin-top: -1px;
      margin-left: -20.71067811865475%;
    }
  }
  &-add{
    @extend .icon;
    width: 23px;
    height: 23px;
    padding: 3px;
    display: inline-block;
    &-region{
      position: relative;
      display: block;
      width: 100%;
      height: 100%;
      //background-color: #3171ff;
      &:before{
        content: '';
        position: absolute;
        width: 0;
        height: 100%;
        left: 50%;
        margin-left: -1px;
        display: block;
        box-sizing: border-box;
        border-style: solid;
        border-color: inherit;
        border-top-width: 0;
        border-left-width: 0;
        border-right-width: 2px;
        border-bottom-width: 0;
      }
      &:after{
        content: '';
        position: absolute;
        top: 50%;
        margin-top: -1px;
        display: block;
        box-sizing: border-box;
        border-style: solid;
        border-color: inherit;
        border-top-width: 2px;
        border-left-width: 0;
        border-right-width: 0;
        border-bottom-width: 0;
        width: 100%;
        height: 0;
      }
    }
  }
  &-fn{
    @extend .icon;
    width: 14px;
    height: 14px;
    background: url("./../images/fun.png");
    background-repeat: no-repeat;
    background-size: contain;
  }
  &-data{
    @extend .icon;
    width: 14px;
    height: 14px;
    background: url("../images/data.png");
    background-repeat: no-repeat;
    background-size: contain;
  }
  &-share{
    @extend .icon;
    width: 23px;
    height: 23px;
    background: url("../images/share.png");
    background-repeat: no-repeat;
    background-size: contain;
  }
  &-img{
    @extend .icon;
    & > img{
      display: block;
      width: 100%;
      height: auto;
    }
  }
}
