.search-bar {
  position: relative;
  margin: -2.5px;
  .el-button{
    margin: 2.5px;
  }
  &-item{
    // min-width: 48px;
    max-width: 165px;
    margin: 2.5px;
    & input{
      width: 100%;
    }
  }
  &-item-auto{
    margin: 2.5px;
    margin-left: 0px;
    min-width: inherit;
    max-width: inherit;
  }
}
.controlHeight{
  max-height:350px;overflow:auto;
}
