.tree {
  padding: 1px 0;
  ul {
    display: block;
    list-style: inside none none;
    &.inline {
      padding-left: 24px;
      & > li {
        & > .tree-node {
          padding-left: 0;
        }
      }
      li.tree-leaf {
        display: inline-block;
        margin-left: 20px;
        .tree-node {
          padding-left: 0;
          margin-right: 1em;
        }
      }
    }
  }
  &-node {
    position: relative;
    display: flex;
    line-height: 26px;
    cursor: pointer;
    align-items: center;
    &:hover {
      background-color: #f2f3f4;
    }
    & + ul {
      display: none;
    }
    &.selected {
      background-color: #007AFF;
      color: #fff;
    }
    &-check {
      position: relative;
      width: 24px;
      height: 24px;
      box-sizing: border-box;
      text-align: center;
      display: flex;
      align-content: center;
      align-items: center;
      margin: 0;
      padding: 5px;
    }
  }
  &-leaf {
    .tree-handle-icon {
      display: none;
      &:before {
        content: none;
      }
    }
  }
  &-handle-icon {
    position: relative;
    display: inline-block;
    width: 24px;
    height: 24px;
    box-sizing: border-box;
    padding: 5px;
    &:before {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      display: block;
      font-size: 0;
      border-style: solid;
      border-color: inherit;
      border-top-width: 4px;
      border-right-width: 0;
      border-bottom-width: 4px;
      border-left-width: 6px;
      border-top-color: transparent;
      border-bottom-color: transparent;
      margin-top: -4px;
      margin-left: -3px;
    }
    &:hover {
      &:before {
        border-color: #4badea;
        border-top-color: transparent;
        border-bottom-color: transparent;
      }
    }
  }
  .opened > .tree-node + ul {
    display: block;
  }
  .opened > &-node > &-handle-icon {
    &:before {
      transform: rotate(90deg);
    }
  }
  & > ul > li {
    & > .tree-node {
      padding-left: 0;
    }
    &.tree-leaf > .tree-node {
      padding-left: 24px;
    }
    & > ul > li {
      & > .tree-node {
        padding-left: 24px;
      }
      &.tree-leaf > .tree-node {
        padding-left: 48px;
      }
      & > ul > li {
        & > .tree-node {
          padding-left: 48px;
        }
        &.tree-leaf > .tree-node {
          padding-left: 72px;
        }
        & > ul > li {
          & > .tree-node {
            padding-left: 72px;
          }
          &.tree-leaf > .tree-node {
            padding-left: 96px;
          }
          & > ul > li {
            & > .tree-node {
              padding-left: 96px;
            }
            &.tree-leaf > .tree-node {
              padding-left: 120px;
            }
            & > ul > li {
              & > .tree-node {
                padding-left: 120px;
              }
              &.tree-leaf > .tree-node {
                padding-left: 144px;
              }
              & > ul > li {
                & > .tree-node {
                  padding-left: 144px;
                }
                &.tree-leaf > .tree-node {
                  padding-left: 168px;
                }
                & > ul > li {
                  & > .tree-node {
                    padding-left: 168px;
                  }
                  &.tree-leaf > .tree-node {
                    padding-left: 192px;
                  }
                  & > ul > li {
                    & > .tree-node {
                      padding-left: 192px;
                    }
                    &.tree-leaf > .tree-node {
                      padding-left: 216px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
